body {
    background: url("../images/messy_books.jpg");
}

.currentTrains, .addTrain {
    background: whitesmoke;
}

th, label {
    font-weight: bold;
}

input {
    width: 80%;
}
form, .currentTrains {
    padding: 20px;
    margin-bottom: 20px;
    border: slategrey solid 1px;
    border-radius: 5px;
}

.divLabel {
    margin-bottom: 10px;
}